<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mer_name" data-rule="required" class="form-control" name="row[mer_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_name" data-rule="required" class="form-control" name="row[real_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mer_phone" data-rule="required" class="form-control" name="row[mer_phone]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mer_address" data-rule="required" class="form-control" name="row[mer_address]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_keyword')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mer_keyword" data-rule="required" class="form-control" name="row[mer_keyword]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_avatar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-mer_avatar" class="form-control" size="50" name="row[mer_avatar]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-mer_avatar" class="btn btn-danger faupload" data-input-id="c-mer_avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-mer_avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-mer_avatar" class="btn btn-primary fachoose" data-input-id="c-mer_avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-mer_avatar"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-mer_avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mark" data-rule="required" class="form-control" name="row[mark]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <input  id="c-status" name="row[status]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-status" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success fa-flip-horizontal text-gray fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_info')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mer_info" data-rule="required" class="form-control" name="row[mer_info]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Service_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-service_phone" data-rule="required" class="form-control" name="row[service_phone]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mer_money" data-rule="required" class="form-control" step="0.01" name="row[mer_money]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mer_level')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-mer_level" data-rule="required" class="form-control selectpicker" name="row[mer_level]">
                <option value="0">未定义</option>
                {foreach name="levelList" item="vo"}
                <option value="{$vo.level_id}">{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Follow_count')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-follow_count" data-rule="required" class="form-control" name="row[follow_count]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Grade')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-grade" data-rule="required" class="form-control" name="row[grade]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-credit" data-rule="required" class="form-control" name="row[credit]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('商户类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type_id" data-rule="required" data-source="merchant/type/index" data-field="type_name" data-primary-key="mer_type_id" class="form-control selectpage" name="row[type_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
