/*全局去除默认样式*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
	header{
		 /* z-index: 999;padding-top: 44px; */
		 z-index: 999;
		 /* background: #fff; */
	}
/*a标签去除默认样式*/
a {
    text-decoration: none;
    color: #333;
}

a:hover, a:visited, a:link, a:active {
    color: #333;
}

/*li*/
ul, ol {
    list-style: none;
}


/*button*/
.button {
    border: 0;
    outline: none;
    -webkit-appearance: none;
}


/*h1*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*input，textarea*/
input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

/*斜体 i*/
i {
    font-style: normal;
}

/*table*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*去除input[type=number]加减号*/
/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* 火狐 */
input {
    -moz-appearance: textfield;
}


body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #F7F7F7;
}

.line-clamp_2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.van-nav-bar {
    background: #000000 !important;
}

.van-nav-bar__left .van-icon {
    color: #ffffff !important;
}

.van-nav-bar__text {
    color: #ffffff !important;
}

.van-nav-bar__title {
    color: #ffffff !important;
}

.van-tabs__line {
    background: #000000 !important;
}

.container_mix {
    /*height: calc(100vh - 50px);*/
    /*height: calc(100dvh - 50px);*/
    overflow-y: auto;
    padding-bottom: 20px;
}

.van-badge__wrapper {
    position: relative !important;
}

