/* 在较小的屏幕上 */
@media screen and (max-width: 600px) {
  html {
    font-size: 14px; /* 小屏幕使用较小的字体大小 */
  }
}

/* 在较大的屏幕上 */
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; /* 大屏幕使用较大的字体大小 */
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background: #f7f7f7 !important; /* 滑块颜色 */
  border-radius: 10px;
}

/*全局去除默认样式*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

:root {
  color-scheme: none;
}

/*a标签去除默认样式*/
a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:visited,
a:link,
a:active {
  color: #333;
}

/*li*/
ul,
ol {
  list-style: none;
}

/*button*/
.button {
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

/*h1*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*input，textarea*/
input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

/*斜体 i*/
i {
  font-style: normal;
}

/*table*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*去除input[type=number]加减号*/
/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f7f7f7;
}

.van-hairline--bottom:after {
  border: none !important;
}
