@font-face {
  font-family: CustomFont; /* 定义你的字体名称 */
  src:
    url('./PinFang_1.ttf') format('woff2'),
    /* 字体文件的路径和格式 */ url('./PinFang_1.ttf') format('woff'); /* 可以提供多个字体文件以支持不同的浏览器 */
}

body {
  //font-family: CustomFont, Arial, sans-serif; /* 使用你定义的字体，如果不可用则使用备用字体 */
}

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'PingFang SC',
//   'Noto Sans SC',
//   sans-serif;
// }

.container {
  padding: 1rem;
  background: #f7f7f7;
  color: #191919;
  font-family: CustomFont, Arial, sans-serif; /* 使用你定义的字体，如果不可用则使用备用字体 */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  //  标签
  .tag-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;

    .tag {
      background: #ffffff;
      color: #a7a7a7;
      font-weight: 600;
      font-size: 1rem;
      line-height: 15px;
      padding: 0.6rem 1.4rem;
      border-radius: 1.6rem;
      letter-spacing: 2px;
    }

    .selected-tag {
      background: #191919;
      color: #ffffff;
    }
  }

  .row-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: #191919;
    line-height: 1.2rem;

    .sub-title {
      font-size: 1rem;
      font-weight: 600;
      color: #191919;
      line-height: 1.2rem;
    }
  }

  .content {
    padding: 0rem 1rem 1.2rem 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .bottom {
    // background: #ffffff;
    padding: 1rem 0.8rem;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
